*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.height-body{

}
.height-footer{
    height:200px;

}
.bg{
    background-color: #FFFFFF;
}
.h-a {
    color: black;
    display: block;
}
  a:hover{
        background-color: gray;
        color:white !important;
        display:block;
        
    }
 .slide-image{
     height:400px;
 }
  
 .h-p {
    
    display: block;
}